<div class="min-h-screen flex flex-col lg:flex-row">
    <!-- Barra lateral -->
    <nav class="bg-gray-800 w-full lg:w-2/6 h-auto p-4 flex flex-col justify-center">
      <ul class="text-center">
        <li class="my-2">
          <a [routerLink]="['/admin/tesis']" routerLinkActive="text-white" class="text-gray-300 hover:text-white">Inicio</a>
        </li>
        <li class="my-2">
            <button (click)="logOut()" routerLinkActive="text-white" class="text-gray-300 hover:text-white">Cerrar Sesión</button>
        </li>
      </ul>
    </nav>
  
    <!-- Contenido principal -->
    <div class="w-full lg:w-3/6 p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
  