<div class="container mx-auto flex justify-center items-center h-screen">
    <div class="w-full max-w-xs">
        <form 
            [formGroup]="loginForm" 
            (ngSubmit)="onSubmit()" 
            class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
        >

        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
            Usuario
          </label>
            <input 
                formControlName="email"  
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                id="username" 
                type="email" 
                placeholder="Usuario"
            >
            @if (loginForm.get('email')!.invalid && (loginForm.get('email')!.dirty || loginForm.get('email')!.touched)){
                <div  class="text-red-500 text-xs italic">Email no válido</div>
            }
        </div>

        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
            Contraseña
          </label>
          <input 
            formControlName="pass" 
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" 
            id="password" 
            type="password" 
            placeholder="Contraseña"
            >
            @if(loginForm.get('pass')!.invalid && (loginForm.get('pass')!.dirty || loginForm.get('pass')!.touched)){
                <div  class="text-red-500 text-xs italic">Contraseña es requerida.</div>
            }
        </div>

        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="role">
            Rol
          </label>
          <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="role"
            formControlName="rol"
          >
            <option selected="true" disabled="disabled" >seleccione el rol</option>
            <option value="Profesor">Profesor</option>
            <option value="adm" >Administrador</option>
            <option value="Alumno">Estudiante</option>
          </select>
        </div>

        <div class="flex items-center justify-between">
          <button type="submit" [disabled]="loginForm.invalid" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Iniciar Sesión
          </button>
<!--           <button type="button" [disabled]="!loginForm.invalid" (click)="redirectToregister()"
          class="bg-blue-800 hover:bg-gray-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Registrarse
          </button> -->
          
        </div>
      </form>
    </div>
  </div>
  
  